---
layout: default
section: programa
title: esLibre 2019 - César García Sáez - Software libre y fabricación digital en espacios maker
---

<h1 class="mt-3 mb-3">Track 2: Social (13:00 - 13:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/garcia_cesar.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">César García Sáez: "Software libre y fabricación digital en espacios maker"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  En esta charla descubriremos qué son los espacios maker y cómo se puede utilizar el software libre para realizar distintos procesos relacionados con la fabricación digital en estos espacios. En la segunda mitad de la charla, hablaremos también de
  algunos retos para la difusión de las herramientas libres en estos entornos. A través de una conversación con los asistentes, buscaremos formas de facilitar su adopción por parte de espacios que estén interesados.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Los espacios maker y laboratorios de fabricación digital han tenido un gran crecimiento durante la última década. Ahora mismo podemos encontrar este tipo de espacios en toda Europa y buena parte de las ciudades españolas.<br><br>
  Estos laboratorios han estado vinculados desde el principio a la cultura libre, con un gran énfasis en compartir códigos, pero también espacios y aprendizajes. ¿Qué herramientas, tanto hardware como software podemos encontrar en estos espacios? En
  esta charla lo exploraremos a través de ejemplos concretos.<br><br>
  En la segunda mitad de la charla, exploraremos cuales son los principales retos para la adopción de estas herramientas a partir de nuestra experiencia en los últimos años. Buscaremos a través del dialogo y participación del público fórmulas que
  hayan resultado útiles en los últimos 20 años, generando una serie de recomendaciones que serán compartidas a posteriori con los espacios maker interesados.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  <ul>
    <li>Personas con experiencia o interés por usar herramientas libres</li>
    <li>Personas con interés por lanzar un espacio maker</li>
    <li>Personas que participan en uno de estos espacios y que les gustaría utilizar más herramientas libres</li>
    <li>Gente con curiosidad por saber cómo funciona la impresión 3D, el corte láser y otros procesos de fabricación digital</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>César García Sáez</strong>, es Ingeniero Técnico de Sistemas y licenciado en Estudios de Asia Oriental por la <a href="https://www.uoc.edu/portal/es/index.html" target="_blank">Universidad Oberta de Cataluña</a>. Es graduado del programa de
  fabricación digital <a href="https://fabacademy.org/" target="_blank">Fab Academy</a>. Tiene más de 10 años de experiencia
  como trabajador del sector TIC y amplia experiencia como divulgador tecnológico.<br><br>
  Es co-fundador de <a href="https://makespacemadrid.org/" target="_blank">Makespace Madrid</a>, una comunidad de aficionados a la tecnología y la creación que utilizan la fabricación digital para hacer realidad sus proyectos. Ha participado en la
  creación de la <a href="http://crefab.es/" target="_blank">Red Española de Creación y Fabricación Digital
    (CREFAB)</a> (y estuvo activo en los primeros encuentros hispalinuxeros en Prosperidad, Madrid 😀)<br><br>
  Desde 2015, conduce el podcast <a href="http://lahoramaker.com/" target="_blank">"La Hora Maker"</a>, que informa sobre los avances de la comunidad maker española, poniendo en valor a los pioneros de este movimiento al tiempo que impulsa la
  creación de nuevos espacios y colectivos. ¿Quién o quienes
  van a dar la charla? ¿Qué hacen? ¿Qué charlas han dado antes?<br><br>
  <a href="https://github.com/elsatch" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/elsatch" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/cesargarciasaez/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
