---
layout: default
section: programa
title: esLibre 2019 - Inés Bebea - ¿Cómo educar para la soberanía tecnológica?
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(10:15 - 10:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/bebea_ines.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Inés Bebea: "¿Cómo educar para la soberanía tecnológica?"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3 style="text-align: center;">Nuestra experiencia de Alfabetización Digital Crítica</h3>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <iframe src="https://player.vimeo.com/video/162725543" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe><br><br>
  La tecnología no es sólo una herramienta. Reproduce las relaciones de poder en la toma de decisiones de diseño y desarrollo, al tiempo que construye imaginarios propios. La tecnología no es algo separado del mundo, sino que transforma la realidad
  de manera profunda. Nos han dicho que la dirección en la que se encamina este cambio ya está marcada, pero no es cierto. Solo la ciudadanía puede reconducirlo.<br><br>
  ¿Está la ciudadanía preparada para abrazar la soberanía tecnológica? Todo proceso emancipador requiere que se den las condiciones de querer, poder y saber. En el proyecto de <strong>Alfabetización Digital Crítica</strong> nos hemos enfocado en
  cultivar el querer,
  el deseo de una mayor soberanía tecnológica. Y esto es, en esencia, desear la libertad tanto individual como colectiva también en el ámbito tecnológico. Hemos aprendido que el consumismo ha conquistado nuestro deseo y que el individualismo nos
  promete una vida más cómoda y fácil. Justo lo que hace que usemos aplicaciones comerciales que venden nuestra información. Así que este es nuestro punto de partida.<br><br>
  También hemos aprendido a explicar cuestiones técnicas con un lenguaje sencillo, a romper las barreras de la abstracción con metodologías activas de aprendizaje que materializan y dan cuerpo a los conceptos, y a visibilizar las relaciones de la
  tecnología con la economía, la política o la filosofía. La clave está en facilitar espacios de reflexión y aprendizaje en los que la ciudadanía comprenda por sí misma cómo funcionan las cosas, se imagine cómo podrían ser de otro modo y se
  comprometa con su transformación. Veremos ejemplos de cómo abordamos la infraestructura, la propiedad, la privacidad, los modelos de negocio, el desarrollo software o la ética de diseño.<br><br>
  Este proceso es una invitación a aprender y a actuar. No puede quedarse sólo en saber algo más. Para ello también hemos aprendido lo importante que es que existan iniciativas colectivas que estén poniendo en práctica la soberanía tecnológica: en
  redes distribuidas, en software libre, en la reparación y reutilización de dispositivos… Porque alguien que adquiere conciencia ciudadana al respecto, necesita seguir dando pasos uniéndose a una comunidad de personas con diversos niveles de
  preparación técnica y también con otros saberes diversos.<br><br>
  Todo esto es necesario para la preparación de la ciudadanía en general, pero también en la formación de personas profesionales de la ingeniería y la informática. ¿Cuántos profesionales egresados de las universidades tienen conciencia de soberanía
  tecnológica y de qué nos jugamos con todo esto? Menos de lo necesario. Veremos también qué retos plantea la educación de estos colectivos, una educación superior comprometida con la soberanía tecnológica.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Inés Bebea</strong>, ingeniera de telecomunicaciones, máster en innovación educativa y actriz de teatro social. Es fundadora de <a href="https://ondula.org/" target="_blank">ondula.org</a>, autora de la guía de <a
    href="https://archive.org/stream/AlfabetizacionDigitalCriticaUnaInvitacionAReflexionarYActuar/Alfabetizaci%C3%B3n%20Digital%20Cr%C3%ADtica%20-%20Una%20invitaci%C3%B3n%20a%20reflexionar%20y%20actuar#mode/2up" target="_blank">"Alfabetización
    Digital Crítica: una invitación a reflexionar y actuar"</a>, de "Repensando las tecnologías en el currículo ecosocial"
  y co-autora de <a href="http://makusi.tabakalera.eu/ver?id=9563&type=3" target="_blank">"Las voces de la tecnología que resuenan en los Labs"</a>, entre otros. Investiga, escribe e imparte charlas y talleres de soberanía tecnológica.<br><br>
  <a href="https://twitter.com/bbaobabb" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/inesbebea/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
