---
layout: default
section: programa
title: esLibre 2019 - Paula de la Hoz - El equilibrio entre Internet y el mundo
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(15:00 - 15:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/de_la_hoz_paula.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Paula de la Hoz: "El equilibrio entre Internet y el mundo"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3 style="text-align: center;">Ciberactivismo y defensa digital</h3>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <strong>La sociedad es digital</strong>, todo lo que hacemos en Internet tiene entidad en el mundo real. En una era de transición en la que tenemos que encontrar el equilibrio entre la comunidad y la tecnología, <strong>hace falta un
    cambio</strong>. Una nueva forma de entender Internet, distribuida y consciente (con tecnologías como <i><a href="https://ipfs.io/" target="_blank">IPFS</a><i>) y el esfuerzo por crear comunidades libres y activismo son la clave para ese
      cambio.<br><br>
      La charla pretende abarcar la necesidad de tecnologías de protección y protesta frente a la censura, el contexto del activismo y una pequeña guía de defensa digital.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://terceranexus6.github.io/" target="_blank">Paula de la Hoz</a></strong>. Tengo 23 años y soy analista de ciberseguridad. He trabajado de analista de sistemas, profe de robótica básica en España y Suiza y de auditora de
  seguridad. En 2016 cofundé <a href="https://interferencias.tech/" target="_blank">Interferencias</a> (<a href="https://twitter.com/inter_ferencias" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}"
      height="20" width="20"></a> <a href="https://mastodon.technology/@interferencias" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a> <a
    href="https://gitlab.com/interferencias" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>), con la idea de crear una
  plataforma sin ánimo de lucro para hacer charla, eventos y actividades por la defensa de los derechos digitales.<br><br>
  <a href="https://github.com/terceranexus6" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/terceranexus6" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/Terceranexus6" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://cybre.space/@terceranexus6" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/pauladelahozgarrido/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
